<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogInTestLaunchpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310647F72046B5480066CAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3106480F2046B5480066CAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3106481A2046B5490066CAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
